.project-card {
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 300px;
  margin: 0 auto; // Center the card
}

.project-media {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.project-card h3 {
  margin: 0.5rem 0;
}

.project-card p {
  color: #bbb;
}

.project-card .learn-more-button {
  background: #e31b6d;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 0.5rem;
  display: block;
  transition: transform 0.3s;
  width: 100%;
}

.project-card .learn-more-button:hover {
  background: #d21860;
}

@media (max-width: 768px) {
  .project-card {
    width: 90%;
  }
}
